.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #191919;
  }
  
  #result {
    display: block;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(213, 202, 0);
    background-color: #000000;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px ;
    
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    background-color: #000000;
    color: rgb(0, 114, 213);
  }
  